.hero {
    background-image: url(imgs/cover.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    height: 360px;
    border-bottom: 2px solid #464646;
}

.footer {
    color: white;
    padding: 20px;
    margin-top: 80px;
    background-color: #464646;
}

.col-md-3 {
    padding-top: 40px;
}