.hero {
    background-image: url(imgs/cover.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    height: 360px;
    border-bottom: 2px solid #464646;
}

.footer {
    color: white;
    padding: 20px;
    margin-top: 80px;
    background-color: #464646;
}

.col-md-3 {
    padding-top: 40px;
}

.grey-box {
    background-color: #eee;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 1rem;
}

.grey-box input {
    width: 100%;
    border: none;
    border-radius: 4px;
    height: 3rem;
}